<section class="esh-catalog-filters">
    <div class ="container">
        <app-carousel-image [images]="parentImages"></app-carousel-image>
    </div>
</section>
<span>

</span>

<div class ="container">
    <div class="form-group">
        <input type="product" 
        class="form-control form-style" 
        id="search-text" 
        aria-describedby="search-text" 
        placeholder="Search smart-commerce.." 
        #searchText>

        <img src="../../assets/images/search.png" (click)="search(searchText)" height="20px" width="20px"/>

    </div>
</div>
<div class="container">
    <span *ngIf="filteredCatalogsItem?.length > 0">
        Hot Items Recommended for you!
    </span>
    <div *ngIf="filteredCatalogsItem?.length > 0">
        <div class="esh-catalog-items row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" 
                 *ngFor="let item of filteredCatalogsItem">
                <div [ngClass]="{'esh-catalog-item': true, 'is-disabled': !authenticated }" (click)="open(item)">
                    <div class="esh-catalog-thumbnail-wrapper">
                        <div class="esh-catalog-thumbnail-icon d-flex justify-content-center">
                            <img class="esh-catalog-thumbnail-icon-svg" src="assets/images/add.svg" />
                        </div>
                        <img class="esh-catalog-thumbnail" src="{{item.pictureEncoded}}" />
                    </div>
                    <div class="esh-catalog-details d-flex justify-content-between align-items-center">
                        <div class="esh-catalog-name ml-3">
                            <span>{{item.name}}</span>
                        </div>
                        <div class="esh-catalog-price mr-3">
                            <span>{{item.price | number:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="filteredCatalogsItem?.length == 0">
        <span>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</span>
    </div>
</div>