<div class="esh-identity">
    <section class="esh-identity-section"
             *ngIf="!authenticated">
        <div class="u-cursor-pointer pt-2 pb-2" (click)="login()">
            <div class="esh-identity-name d-flex align-items-center">LOGIN 
            </div>
        </div>

    </section>

    <section class="esh-identity-section u-cursor-pointer pt-2 pb-2"
         *ngIf="authenticated">

        <div class="esh-identity-name">{{userName}}</div>
    </section>

    <section class="esh-identity-drop"
             *ngIf="authenticated">

        <div class="esh-identity-item"
            [routerLink]="['/manage-product']"
            *ngIf="name === 'Alice'">
            <div class="esh-identity-name"> 
                Manage Product 
                </div>
        </div>
        
        <div class="esh-identity-item"
            [routerLink]="['/edit']">
            <div class="esh-catalog-name">
                Edit Profile
            </div>
        </div>

        <div class="esh-identity-item"
             [routerLink]="['/orders']">
            <div class="esh-identity-name">My orders</div>
        </div>

        <div class="esh-identity-item"
             (click)="logoutClicked($event)">
            <div class="esh-identity-name">Log Out</div>
        </div>
    </section>
</div>