<div class="slider">
    <div>
        <div>
            <div (click)="goToPrevious()" class="leftArrow">❰</div>
            <div (click)="goToNext()" class="rightArrow">❱</div>
        </div>
    </div>
    <div
      class="slide"
      [ngStyle]="{ 'background-image': getCurrentSlideUrl() }">
      <div class="dotsContainer">
        <div
          *ngFor="let slide of images; let slideIndex = index"
          class="dot"
          (click)="goToSlide(slideIndex)"
        >
          ●
        </div>
    </div>
  </div>
